/* Book Appointemnt(Desktop) */

position: relative;
width: 1440px;
height: 1024px;
overflow-y: scroll;

background: #F7F9F9;


/* Sidebar - Open */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 20px;

position: absolute;
width: 295px;
height: 1024px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-right: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 12px;


/* Profil */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 247px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Avatar */

width: 44px;
height: 44px;

background: url(.png);
border-radius: 36.2214px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 191px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* OVERLINE */

width: 191px;
height: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.4px;
text-transform: uppercase;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 191px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #00453A;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Divider */

width: 247px;
height: 2px;

background: #F6F6F6;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Navigation */

width: 247px;
height: 420px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Rectangle 266 */

position: absolute;
width: 248px;
height: 49px;
left: -1px;
top: 172px;

background: #F7F9F9;
border-radius: 5px;


/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 12px;
gap: 8px;

position: absolute;
width: 247px;
height: 12px;
left: 0px;
top: 0px;



/* OVERLINE */

width: 28px;
height: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.4px;
text-transform: uppercase;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 23px;

border-radius: 8px;


/* Icon / Home-simple-door */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 5%;
right: 15%;
top: 10%;
bottom: 10%;

border: 1.5px solid #00856F;


/* Vector */

position: absolute;
left: 30%;
right: 40%;
top: 75%;
bottom: 25%;

border: 1.5px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 74px;

border-radius: 8px;


/* Icon / Home-simple-door */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

box-sizing: border-box;

position: absolute;
height: 16px;
left: 0%;
right: 20%;
top: calc(50% - 16px/2 - 1px);

background: #000000;
border: 2.4px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 18px 10px 12px;
gap: 15px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 125px;

border-radius: 8px;


/* Icon / User 1 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 36734 */

position: absolute;
height: 16px;
left: -15%;
right: 35%;
top: 1px;



/* chat-square-check_svgrepo.com */

position: absolute;
height: 16px;
left: -15%;
right: 35%;
top: 1px;



/* Vector */

position: absolute;
height: 17px;
left: 5%;
right: 10%;
top: calc(50% - 17px/2 + 0.5px);

background: #00856F;


/* Vector */

position: absolute;
height: 4px;
left: 35%;
right: 35%;
top: calc(50% - 4px/2);

border: 2px solid #00856F;


/* Label */

width: 136px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon / Chevron */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 176px;

border-radius: 8px;


/* Icon / Page */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

box-sizing: border-box;

position: absolute;
height: 18px;
left: 20%;
right: 0%;
top: calc(50% - 18px/2);

background: #000000;
border: 4px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 227px;

border-radius: 8px;


/* Icon / Calendar */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 13.33%;
right: 3.34%;
top: 234.17%;
bottom: -221.67%;

background: #757575;


/* Group 36733 */

position: absolute;
height: 16px;
left: 10%;
right: 10%;
top: 2px;



/* Vector */

position: absolute;
height: 1.6px;
left: 26%;
right: 26%;
top: calc(50% - 1.6px/2 + 0px);

border: 1px solid #00856F;


/* Vector */

position: absolute;
height: 6.4px;
left: 58%;
right: 10%;
top: calc(50% - 6.4px/2 + 4.8px);

border: 1px solid #00856F;


/* Vector */

position: absolute;
height: 6.4px;
left: 10%;
right: 58%;
top: calc(50% - 6.4px/2 + 4.8px);

border: 1px solid #00856F;


/* Vector */

position: absolute;
height: 6.4px;
left: 10%;
right: 58%;
top: calc(50% - 6.4px/2 - 4.8px);

border: 1px solid #00856F;


/* Vector */

position: absolute;
height: 6.4px;
left: 58%;
right: 10%;
top: calc(50% - 6.4px/2 - 4.8px);

border: 1px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 278px;

border-radius: 8px;


/* Icon / Calendar */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 13.33%;
right: 3.34%;
top: 234.17%;
bottom: -221.67%;

background: #757575;


/* Group 36732 */

position: absolute;
height: 19.87px;
left: 20%;
right: 0.01%;
top: 1px;



/* Group */

position: absolute;
left: 88.48%;
right: 0.01%;
top: 28.64%;
bottom: 61.29%;



/* Group */

position: absolute;
left: 88.48%;
right: 0.01%;
top: 28.64%;
bottom: 61.29%;



/* Vector */

position: absolute;
left: 88.48%;
right: 0.01%;
top: 28.64%;
bottom: 61.29%;

background: #00856F;


/* Group */

position: absolute;
left: 20%;
right: 2.8%;
top: 18.44%;
bottom: -4.37%;



/* Group */

position: absolute;
left: 20%;
right: 2.8%;
top: 18.44%;
bottom: -4.37%;



/* Vector */

position: absolute;
left: 20%;
right: 2.8%;
top: 18.44%;
bottom: -4.37%;

background: #00856F;


/* Group */

position: absolute;
left: 59.5%;
right: 22.59%;
top: 5%;
bottom: 77.09%;



/* Group */

position: absolute;
left: 59.5%;
right: 22.59%;
top: 5%;
bottom: 77.09%;



/* Vector */

position: absolute;
left: 59.5%;
right: 22.59%;
top: 5%;
bottom: 77.09%;

background: #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 329px;

border-radius: 8px;


/* Icon / Calendar */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 13.33%;
right: 3.34%;
top: 234.17%;
bottom: -221.67%;

background: #757575;


/* Vector */

box-sizing: border-box;

position: absolute;
height: 16px;
left: 5%;
right: 20%;
top: calc(50% - 16px/2);

background: #1C274C;
border: 2.5px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 380px;

border-radius: 8px;


/* Icon / Calendar */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 13.33%;
right: 3.34%;
top: 234.17%;
bottom: -221.67%;

background: #757575;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 27.78%;
bottom: 54.44%;

border: 2px solid #00856F;


/* Ellipse */

position: absolute;
left: 63.33%;
right: 27.78%;
top: 63.33%;
bottom: 27.78%;

background: #00856F;


/* Vector */

position: absolute;
left: 41.11%;
right: 41.11%;
top: 10%;
bottom: 72.22%;

border: 2px solid #00856F;


/* Ellipse */

position: absolute;
left: 27.77%;
right: 63.34%;
top: 63.33%;
bottom: 27.78%;

background: #00856F;


/* Vector */

position: absolute;
left: 10%;
right: 10%;
top: 45.56%;
bottom: 10%;

border: 2px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Divider */

width: 247px;
height: 2px;

background: #F6F6F6;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Navigation */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 247px;
height: 320px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 1;


/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 12px;
gap: 8px;

width: 247px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* OVERLINE */

width: 53px;
height: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.4px;
text-transform: uppercase;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

width: 247px;
height: 40px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Icon / Settings */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 4.17%;
right: 4.16%;
top: 4.17%;
bottom: 4.17%;

background: #00856F;


/* Label */

width: 163px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Icon / Chevron */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Union */

position: absolute;
left: 20.84%;
right: 20.83%;
top: 33.33%;
bottom: 33.34%;

background: #00856F;


/* Navigation */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 247px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

width: 247px;
height: 40px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon / Help-circle */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 4.17%;
right: 4.16%;
top: 4.17%;
bottom: 4.17%;

background: #00856F;


/* Label */

width: 191px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

width: 247px;
height: 40px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Icon / Log-out */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 16.67%;
right: 16.66%;
top: 8.33%;
bottom: 8.33%;

background: #D55F5A;


/* Label */

width: 191px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #D55F5A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Book a Consultation */

position: absolute;
width: 308px;
height: 20px;
left: 428px;
top: 64px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 20px;
/* identical to box height, or 62% */
letter-spacing: -0.02em;

color: #00856F;



/* Rectangle 103 */

position: absolute;
width: 949px;
height: 87px;
left: 362px;
top: 158px;

background: #FFFFFF;
border-radius: 5px;


/* Date&Time Picker/no */

position: absolute;
width: 949px;
height: 413px;
left: calc(50% - 949px/2 + 116.5px);
top: 282px;

/* Background/Primary */
background: #FFFFFF;


/* header */

position: absolute;
height: 44px;
left: 0px;
right: 0px;
top: 0px;



/* Frame 287 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 3px;

position: absolute;
width: 117px;
height: 24px;
left: 16px;
top: 14px;



/* August 2025 */

width: 103px;
height: 24px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */
letter-spacing: -0.43px;

color: #00453A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 288 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 2px 0px 0px;
gap: 10px;

width: 11px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 􀆊 */

width: 11px;
height: 18px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */

color: #00856F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 289 */

position: absolute;
width: 56px;
height: 24px;
right: 16px;
top: 14px;



/* 􀆊 */

position: absolute;
width: 15px;
height: 24px;
left: 43px;
top: 0px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: -0.43px;

color: #00856F;



/* 􀆉 */

position: absolute;
width: 15px;
height: 24px;
left: 0px;
top: 0px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: -0.43px;

color: #00856F;



/* Frame 296 */

position: absolute;
height: 36px;
left: 16px;
right: 16px;
top: 361px;



/* Time */

position: absolute;
width: 45px;
height: 24px;
left: 670px;
top: 6px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.38px;

/* Label/Primary */
color: #000000;



/* Frame 298 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 182px;
height: 36px;
right: 0px;
top: 0px;



/* Time Picker */

width: 74px;
height: 36px;

/* Fill/Tertiary */
background: rgba(118, 118, 128, 0.12);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hours */

position: absolute;
height: 28px;
left: 4px;
right: 42px;
top: calc(50% - 28px/2);

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */
text-align: right;

/* Label/Primary */
color: #000000;



/* Colon */

position: absolute;
height: 28px;
left: 33px;
right: 35px;
top: calc(50% - 28px/2 - 2px);

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */
text-align: center;

/* Label/Primary */
color: #000000;



/* Minutes */

position: absolute;
height: 28px;
left: 38px;
right: 8px;
top: calc(50% - 28px/2);

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* identical to box height, or 127% */
text-align: right;

/* Label/Primary */
color: #000000;



/* AM/PM Picker */

width: 100px;
height: 36px;

/* Fill/Tertiary */
background: rgba(118, 118, 128, 0.12);
border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Option 2 */

position: absolute;
width: 48px;
height: 32px;
left: 49px;
top: 2px;



/* PM */

position: absolute;
width: 48px;
height: 32px;
left: 0px;
top: 0px;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* or 138% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.1px;

/* Label/Primary */
color: #000000;



/* Option 1 */

box-sizing: border-box;

position: absolute;
width: 51px;
height: 32px;
left: 2px;
top: 2px;

/* Gray/White */
background: #FFFFFF;
border: 0.5px solid rgba(0, 0, 0, 0.04);
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 4px 1px rgba(0, 0, 0, 0.04);
border-radius: 7px;


/* AM */

position: absolute;
width: 51px;
height: 32px;
left: 0px;
top: 0px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* or 138% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.1px;

/* Label/Primary */
color: #000000;



/* Frame 299 */

position: absolute;
height: 18px;
left: 16px;
right: 16px;
top: 51px;



/* Frame 307 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
height: 18px;
left: -9px;
right: -11px;
top: 0px;



/* Frame 300 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.43px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* sun */

width: 29px;
height: 18px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */
text-align: center;
text-transform: uppercase;

/* Label/Tertiary */
color: rgba(60, 60, 67, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 301 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.43px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* mon */

width: 33px;
height: 18px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */
text-align: center;
text-transform: uppercase;

/* Label/Tertiary */
color: rgba(60, 60, 67, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 302 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.43px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* tue */

width: 26px;
height: 18px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */
text-align: center;
text-transform: uppercase;

/* Label/Tertiary */
color: rgba(60, 60, 67, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 303 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.43px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* wed */

width: 32px;
height: 18px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */
text-align: center;
text-transform: uppercase;

/* Label/Tertiary */
color: rgba(60, 60, 67, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 304 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.43px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* thu */

width: 28px;
height: 18px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */
text-align: center;
text-transform: uppercase;

/* Label/Tertiary */
color: rgba(60, 60, 67, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 305 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.43px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* fri */

width: 21px;
height: 18px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */
text-align: center;
text-transform: uppercase;

/* Label/Tertiary */
color: rgba(60, 60, 67, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 306 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.43px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 1;


/* sat */

width: 26px;
height: 18px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */
text-align: center;
text-transform: uppercase;

/* Label/Tertiary */
color: rgba(60, 60, 67, 0.3);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 295 */

position: absolute;
height: 275px;
left: 16px;
right: 16px;
top: 79px;



/* Frame 291 */

position: absolute;
height: 51px;
left: 0px;
right: 0px;
top: 0px;



/* Frame 294 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0px 0px 1px;
gap: 4px;

position: absolute;
height: 51px;
left: -12px;
right: -12px;
top: 0px;



/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* 1 */

width: 9px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* 1 */

width: 12px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* 1 */

width: 12px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

width: 130.86px;
height: 51px;

border-radius: 26px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* Rectangle 298 */

position: absolute;
width: 44px;
height: 44px;
left: calc(50% - 44px/2 - 0.93px);
top: calc(50% - 44px/2);

background: #DCE9E2;
border-radius: 22px;


/* 1 */

position: absolute;
width: 15px;
height: 29px;
left: calc(50% - 15px/2 + 780.07px);
top: calc(50% - 29px/2);

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height, or 121% */
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #00856F;



/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* 1 */

width: 12px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 1;


/* 1 */

width: 13px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 292 */

position: absolute;
height: 51px;
left: 0px;
right: 0px;
top: 56px;



/* Frame 294 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0px 0px 1px;
gap: 4px;

position: absolute;
height: 51px;
left: -12px;
right: -12px;
top: 0px;



/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 1 */

width: 11px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* 1 */

width: 12px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* 1 */

width: 13px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* 1 */

width: 21px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* 1 */

width: 18px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* 1 */

width: 21px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 1;


/* 1 */

width: 21px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 293 */

position: absolute;
height: 51px;
left: 0px;
right: 0px;
top: 112px;



/* Frame 294 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0px 0px 1px;
gap: 4px;

position: absolute;
height: 51px;
left: -12px;
right: -12px;
top: 0px;



/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 1 */

width: 21px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* 1 */

width: 21px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* 1 */

width: 22px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* 1 */

width: 20px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* 1 */

width: 21px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* 1 */

width: 22px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 1;


/* 1 */

width: 24px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 294 */

position: absolute;
height: 51px;
left: 0px;
right: 0px;
top: 168px;



/* Frame 294 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0px 0px 1px;
gap: 4px;

position: absolute;
height: 51px;
left: -12px;
right: -12px;
top: 0px;



/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 1 */

width: 21px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;

border-radius: 26px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* 1 */

width: 23px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* 1 */

width: 24px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* 1 */

width: 23px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* 1 */

width: 24px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* 1 */

width: 24px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 1;


/* 1 */

width: 23px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 295 */

position: absolute;
height: 51px;
left: 0px;
right: 0px;
top: 224px;



/* Frame 294 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0px 0px 1px;
gap: 4px;

position: absolute;
height: 51px;
left: -12px;
right: -12px;
top: 0px;



/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* 1 */

width: 24px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* 1 */

width: 24px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* 1 */

width: 24px;
height: 24px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* Date */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 130.86px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 1;


/* 4 */

position: absolute;
width: 14px;
height: 24px;
left: 964px;
top: 374.5px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
text-transform: uppercase;

/* Label/Primary */
color: #000000;



/* Dr. Samreen Akhtar */

position: absolute;
left: 28.19%;
right: 55.97%;
top: 17.09%;
bottom: 79.88%;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
text-align: center;

color: #00453A;



/* Diabetologist & Nutritionist */

position: absolute;
left: 28.19%;
right: 57.15%;
top: 20.21%;
bottom: 77.73%;

font-family: 'DM Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #00453A;



/* Frame 36756 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 14px;
gap: 10px;

position: absolute;
width: 469px;
height: 61px;
left: 362px;
top: 732px;

background: #DCE9E2;
border-radius: 5px;


/* map-pin-fill */

width: 35px;
height: 35px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
height: 31.69px;
left: 12.5%;
right: 12.5%;
top: calc(50% - 31.69px/2 + 0.68px);

background: #00856F;


/* South City Hospital */

width: 154px;
height: 20px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
display: flex;
align-items: flex-end;

color: #606060;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 36757 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 14px;
gap: 10px;

position: absolute;
width: 469px;
height: 61px;
left: 842px;
top: 732px;

background: #FFFFFF;
border-radius: 5px;


/* map-pin-fill */

width: 35px;
height: 35px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
height: 31.69px;
left: 12.5%;
right: 12.5%;
top: calc(50% - 31.69px/2 + 0.68px);

background: #00856F;


/* Liaquat National Hospital */

width: 200px;
height: 20px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
display: flex;
align-items: flex-end;

color: #606060;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 36746 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 49px;
gap: 10px;

position: absolute;
width: 944px;
height: 72px;
left: 367px;
top: 884px;

background: #00856F;
border-radius: 5px;


/* Proceed Booking */

width: 207px;
height: 30px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 36793 */

position: absolute;
width: 63px;
height: 58px;
left: 352px;
top: 45px;



/* Arrow 7 */

position: absolute;
width: 40px;
height: 0px;
left: 10px;
top: 29px;



/* Arrow 7 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: -nan%;
bottom: -nan%;

border: 4px solid #00453A;
transform: rotate(180deg);

