/* Instant Consultation (Payment) (Desktop) */

position: relative;
width: 1440px;
height: 1024px;
overflow-y: scroll;

background: #F7F9F9;


/* Sidebar - Open */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 20px;

position: absolute;
width: 295px;
height: 1024px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-right: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 12px;


/* Profil */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 247px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Avatar */

width: 44px;
height: 44px;

background: url(.png);
border-radius: 36.2214px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 191px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* OVERLINE */

width: 191px;
height: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.4px;
text-transform: uppercase;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

width: 191px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #00453A;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Divider */

width: 247px;
height: 2px;

background: #F6F6F6;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Navigation */

width: 247px;
height: 420px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Rectangle 266 */

position: absolute;
width: 248px;
height: 49px;
left: -1px;
top: 120px;

background: #F7F9F9;
border-radius: 5px;


/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 12px;
gap: 8px;

position: absolute;
width: 247px;
height: 12px;
left: 0px;
top: 0px;



/* OVERLINE */

width: 28px;
height: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.4px;
text-transform: uppercase;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 23px;

border-radius: 8px;


/* Icon / Home-simple-door */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 5%;
right: 15%;
top: 10%;
bottom: 10%;

border: 1.5px solid #00856F;


/* Vector */

position: absolute;
left: 30%;
right: 40%;
top: 75%;
bottom: 25%;

border: 1.5px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 74px;

border-radius: 8px;


/* Icon / Home-simple-door */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

box-sizing: border-box;

position: absolute;
height: 16px;
left: 0%;
right: 20%;
top: calc(50% - 16px/2 - 1px);

background: #000000;
border: 2.4px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 18px 10px 12px;
gap: 15px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 125px;

border-radius: 8px;


/* Icon / User 1 */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 36734 */

position: absolute;
height: 16px;
left: -15%;
right: 35%;
top: 1px;



/* chat-square-check_svgrepo.com */

position: absolute;
height: 16px;
left: -15%;
right: 35%;
top: 1px;



/* Vector */

position: absolute;
height: 17px;
left: 5%;
right: 10%;
top: calc(50% - 17px/2 + 0.5px);

background: #00856F;


/* Vector */

position: absolute;
height: 4px;
left: 35%;
right: 35%;
top: calc(50% - 4px/2);

border: 2px solid #00856F;


/* Label */

width: 136px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon / Chevron */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 176px;

border-radius: 8px;


/* Icon / Page */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

box-sizing: border-box;

position: absolute;
height: 18px;
left: 20%;
right: 0%;
top: calc(50% - 18px/2);

background: #000000;
border: 4px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 227px;

border-radius: 8px;


/* Icon / Calendar */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 13.33%;
right: 3.34%;
top: 234.17%;
bottom: -221.67%;

background: #757575;


/* Group 36733 */

position: absolute;
height: 16px;
left: 10%;
right: 10%;
top: 2px;



/* Vector */

position: absolute;
height: 1.6px;
left: 26%;
right: 26%;
top: calc(50% - 1.6px/2 + 0px);

border: 1px solid #00856F;


/* Vector */

position: absolute;
height: 6.4px;
left: 58%;
right: 10%;
top: calc(50% - 6.4px/2 + 4.8px);

border: 1px solid #00856F;


/* Vector */

position: absolute;
height: 6.4px;
left: 10%;
right: 58%;
top: calc(50% - 6.4px/2 + 4.8px);

border: 1px solid #00856F;


/* Vector */

position: absolute;
height: 6.4px;
left: 10%;
right: 58%;
top: calc(50% - 6.4px/2 - 4.8px);

border: 1px solid #00856F;


/* Vector */

position: absolute;
height: 6.4px;
left: 58%;
right: 10%;
top: calc(50% - 6.4px/2 - 4.8px);

border: 1px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 278px;

border-radius: 8px;


/* Icon / Calendar */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 13.33%;
right: 3.34%;
top: 234.17%;
bottom: -221.67%;

background: #757575;


/* Group 36732 */

position: absolute;
height: 19.87px;
left: 20%;
right: 0.01%;
top: 1px;



/* Group */

position: absolute;
left: 88.48%;
right: 0.01%;
top: 28.64%;
bottom: 61.29%;



/* Group */

position: absolute;
left: 88.48%;
right: 0.01%;
top: 28.64%;
bottom: 61.29%;



/* Vector */

position: absolute;
left: 88.48%;
right: 0.01%;
top: 28.64%;
bottom: 61.29%;

background: #00856F;


/* Group */

position: absolute;
left: 20%;
right: 2.8%;
top: 18.44%;
bottom: -4.37%;



/* Group */

position: absolute;
left: 20%;
right: 2.8%;
top: 18.44%;
bottom: -4.37%;



/* Vector */

position: absolute;
left: 20%;
right: 2.8%;
top: 18.44%;
bottom: -4.37%;

background: #00856F;


/* Group */

position: absolute;
left: 59.5%;
right: 22.59%;
top: 5%;
bottom: 77.09%;



/* Group */

position: absolute;
left: 59.5%;
right: 22.59%;
top: 5%;
bottom: 77.09%;



/* Vector */

position: absolute;
left: 59.5%;
right: 22.59%;
top: 5%;
bottom: 77.09%;

background: #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 329px;

border-radius: 8px;


/* Icon / Calendar */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 13.33%;
right: 3.34%;
top: 234.17%;
bottom: -221.67%;

background: #757575;


/* Vector */

box-sizing: border-box;

position: absolute;
height: 16px;
left: 5%;
right: 20%;
top: calc(50% - 16px/2);

background: #1C274C;
border: 2.5px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

position: absolute;
width: 247px;
height: 40px;
left: 0px;
top: 380px;

border-radius: 8px;


/* Icon / Calendar */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 13.33%;
right: 3.34%;
top: 234.17%;
bottom: -221.67%;

background: #757575;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 27.78%;
bottom: 54.44%;

border: 2px solid #00856F;


/* Ellipse */

position: absolute;
left: 63.33%;
right: 27.78%;
top: 63.33%;
bottom: 27.78%;

background: #00856F;


/* Vector */

position: absolute;
left: 41.11%;
right: 41.11%;
top: 10%;
bottom: 72.22%;

border: 2px solid #00856F;


/* Ellipse */

position: absolute;
left: 27.77%;
right: 63.34%;
top: 63.33%;
bottom: 27.78%;

background: #00856F;


/* Vector */

position: absolute;
left: 10%;
right: 10%;
top: 45.56%;
bottom: 10%;

border: 2px solid #00856F;


/* Label */

width: 173.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Union */

width: 9.33px;
height: 5.33px;

background: #00856F;
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Divider */

width: 247px;
height: 2px;

background: #F6F6F6;
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Navigation */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 247px;
height: 320px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 1;


/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 12px;
gap: 8px;

width: 247px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* OVERLINE */

width: 53px;
height: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.4px;
text-transform: uppercase;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

width: 247px;
height: 40px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Icon / Settings */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 4.17%;
right: 4.16%;
top: 4.17%;
bottom: 4.17%;

background: #00856F;


/* Label */

width: 163px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Icon / Chevron */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Union */

position: absolute;
left: 20.84%;
right: 20.83%;
top: 33.33%;
bottom: 33.34%;

background: #00856F;


/* Navigation */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 247px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

width: 247px;
height: 40px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon / Help-circle */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 4.17%;
right: 4.16%;
top: 4.17%;
bottom: 4.17%;

background: #00856F;


/* Label */

width: 191px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #00856F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;
gap: 12px;

width: 247px;
height: 40px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Icon / Log-out */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Union */

position: absolute;
left: 16.67%;
right: 16.66%;
top: 8.33%;
bottom: 8.33%;

background: #D55F5A;


/* Label */

width: 191px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.02em;

color: #D55F5A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Back Arrow */

position: absolute;
width: 56px;
height: 56px;
left: 351px;
top: 46px;



/* Arrow 7 */

position: absolute;
width: 40px;
height: 0px;
left: 357px;
top: 74px;



/* Arrow 7 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: -nan%;
bottom: -nan%;

border: 4px solid #00453A;
transform: rotate(180deg);


/* Payment */

position: absolute;
width: 134px;
height: 20px;
left: 423px;
top: 64px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 20px;
/* identical to box height, or 62% */
letter-spacing: -0.02em;

color: #00856F;



/* Frame 36746 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 49px;
gap: 10px;

position: absolute;
width: 996px;
height: 72px;
left: 345px;
top: 911px;

background: #00856F;
border-radius: 5px;


/* Proceed Payment */

width: 213px;
height: 30px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 36748 */

position: absolute;
width: 996px;
height: 313px;
left: 345px;
top: 149px;

background: #FFFFFF;
border-radius: 11px;


/* Instant Video Consultation */

position: absolute;
width: 422px;
height: 40px;
left: 41px;
top: 39px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
/* identical to box height */

color: #00453A;



/* Aug 21,2025, 4:22 AM */

position: absolute;
width: 244px;
height: 24px;
left: 41px;
top: 82px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #999999;



/* Order Details */

position: absolute;
width: 157px;
height: 33px;
left: 41px;
top: 132px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;

color: #00453A;



/* Amount */

position: absolute;
width: 60px;
height: 20px;
left: 41px;
top: 174px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #999999;



/* Divider */

position: absolute;
width: 914px;
height: 2px;
left: 41px;
top: 203px;

background: #F6F6F6;
border-radius: 2px;


/* GST/Sales Tax */

position: absolute;
width: 114px;
height: 20px;
left: 41px;
top: 214px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #999999;



/* Divider */

position: absolute;
width: 914px;
height: 2px;
left: 41px;
top: 243px;

background: #F6F6F6;
border-radius: 2px;


/* Total */

position: absolute;
width: 39px;
height: 20px;
left: 41px;
top: 254px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #00453A;



/* PKR 999 */

position: absolute;
width: 82px;
height: 25px;
left: 809px;
top: 174px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;
/* identical to box height */

color: #00453A;



/* PKR 0 */

position: absolute;
width: 57px;
height: 25px;
left: 809px;
top: 212px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;
/* identical to box height */

color: #00453A;



/* PKR 999 */

position: absolute;
width: 86px;
height: 25px;
left: 809px;
top: 254px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
/* identical to box height */

color: #00453A;



/* Frame 36749 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 38px 41px;
gap: 17px;
isolation: isolate;

position: absolute;
width: 996px;
height: 365px;
left: 345px;
top: 489px;

background: #FFFFFF;
border-radius: 11px;


/* Payment Method */

width: 914px;
height: 40px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
/* identical to box height */

color: #00453A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Rectangle 270 */

box-sizing: border-box;

width: 914px;
height: 66px;

border: 1px solid #EFEFEF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Rectangle 271 */

box-sizing: border-box;

width: 914px;
height: 66px;

border: 1px solid #EFEFEF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Rectangle 272 */

box-sizing: border-box;

width: 914px;
height: 66px;

border: 1px solid #EFEFEF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;


/* Bank Transfer */

position: absolute;
width: 108px;
height: 20px;
left: 107px;
top: 117px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #00453A;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Credit/Debit Card */

position: absolute;
width: 140px;
height: 20px;
left: 107px;
top: 200px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #00453A;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Mobile Wallet */

position: absolute;
width: 109px;
height: 20px;
left: 107px;
top: 283px;

font-family: 'Open Sauce Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #00453A;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* Ellipse 216 */

box-sizing: border-box;

position: absolute;
width: 21px;
height: 21px;
left: 65px;
top: 117px;

border: 2px solid #00453A;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* Ellipse 219 */

position: absolute;
width: 11px;
height: 11px;
left: 70px;
top: 122px;

background: #00856F;

/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;
z-index: 8;


/* Ellipse 217 */

box-sizing: border-box;

position: absolute;
width: 21px;
height: 21px;
left: 65px;
top: 200px;

border: 2px solid #00453A;

/* Inside auto layout */
flex: none;
order: 9;
flex-grow: 0;
z-index: 9;


/* Ellipse 218 */

box-sizing: border-box;

position: absolute;
width: 21px;
height: 21px;
left: 65px;
top: 283px;

border: 2px solid #00453A;

/* Inside auto layout */
flex: none;
order: 10;
flex-grow: 0;
z-index: 10;

